name: Deploy

on:
  push:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-20.04
    steps:
      - name: Get repository files
        uses: actions/checkout@v2
        run: |
          ls