name: Deploy

on:
  push:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        node-version: [12.x]
    steps:
      - name: Get repository files
        uses: actions/checkout@v2
      - name: Testg
        run: |
          node -v